extends layout

block content
 script(src="javascripts/home.js")
 h2 Match Details
 div(class="formHolder")
  form(enctype="multipart/form-data" action="teamDetails" method="post")
   Choose Team Details File: 
   input(type="file" accept=".txt" id="file" name="file")
   input(type="submit" value = "Load File")
   p
   if error
    b(id="errorMessage") 
     |Uploaded File Format is incorrect
    p
     |File Should be like this:
     br
     |[["First Team Name","player1","player2"],["Secound Team Name", "player1","player2"]] 
  br
  br
  if teamDetails
   form(action="matchDetails")
    |Overs per innings:   
    input(type="number" min="2", max="100" value="2" name="overs")
    br
    |Select First Batting Team:
    select(name = "firstBat")
     option  #{teamDetails[0][0]}                               
     option #{teamDetails[0][1]} 
    br
    br
    input(type = "submit" value = "Save Details")
 div(class="formHolder")
  if teamDetails
   table(border=5)
    tr
     th #{teamDetails[0][0]}
     th #{teamDetails[0][1]}
    each player, index in teamDetails[1]
     tr
      td #{player}
      td #{teamDetails[2][index]}

 